pipeline/DailySales.json
{
	"name": "DailySales",
	"properties": {
		"activities": [
			{
				"name": "CheckFileAvailability",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Checkfilegetmetadata",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.blobcontainer",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.blobdirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Load Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CheckFileAvailability",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CheckFileAvailability').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from files to stg tables",
							"description": "Copy data from files to stg tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Copyfilestgtable",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.blobcontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.blobdirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_getstgtablefromfile",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"blobcontainer": {
				"type": "string",
				"defaultValue": "inputfiles"
			},
			"blobdirectory": {
				"type": "string",
				"defaultValue": "files/filesinput"
			},
			"stgschema": {
				"type": "string",
				"defaultValue": "stg"
			},
			"tgtschema": {
				"type": "string",
				"defaultValue": "etl"
			}
		},
		"annotations": []
	}
}